{% extends "main/base.html" %}

<!-- title -->
{% block title %} View List {% endblock %}

<!-- content -->
{% block content %}

<h1>{{ ls.name }}</h1>

<!--reason we need a form because need to pass the information using POST request 
  (whether the user clicked the check button, item typed into add to the list)  -->
<form method="post" action="#">
  {% csrf_token %}
  <ul>
    {% for item in ls.item_set.all %} {% if item.complete == True %}
    <li>
      <input type="checkbox" value="clicked" name="c{{item.id}}" checked />
      {{ item.text }}
    </li>
    {% else %}
    <li>
      <input type="checkbox" value="clicked" name="c{{item.id}}" />
      {{ item.text }}
    </li>

    {% endif %} {% endfor %}
  </ul>

  <button type="submit" name="save" value="save">Save</button>
  <input type="text" name="new" />
  <button type="submit" name="newItem" value="newItem">Add Item</button>
</form>

{% endblock %}

<!-- 
>>> from main.models import ToDoList
>>> ls = ToDoList.objects.get(id=2)
>>> ls
<ToDoList: First List>
>>> ls.item_set.all()
<QuerySet []>
>>> ls.item_set.create(text="First Item", complete=False)
<Item: First Item>
>>> ls.item_set.create(text="Second Item", complete=False)
<Item: Second Item>
>>> ls.item_set.create(text="Third Item", complete=False)
<Item: Third Item>
>>> ls.item_set.all()
<QuerySet [<Item: First Item>, <Item: Second Item>, <Item: Third Item>]>
>>> exit() 
-->
