{% extends "main/base.html" %}

<!-- title -->
{% block title %} View List {% endblock %}

<!-- content -->
{% block content %}

<h1>{{ ls.name }}</h1>

<!--reason we need a form because need to pass the information using POST request 
  (whether the user clicked the check button, item typed into add to the list)  -->
<form method="post" action="#">
  {% csrf_token %} {% for item in ls.item_set.all %}
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        {% if item.complete == True %}
        <input type="checkbox" value="clicked" name="c{{item.id}}" checked />
        {% else %}
        <input type="checkbox" value="clicked" name="c{{item.id}}" />
        {% endif %}
      </div>
    </div>
    <input type="text" value="{{item.text}}" class="form-control" />
  </div>

  {% endfor %}

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button
        type="submit"
        name="newItem"
        value="newItem"
        class="btn btn-success"
      >
        Add Item
      </button>
    </div>

    <input type="text" name="new" />
  </div>

  <button type="submit" name="save" value="save" class="btn btn-success">
    Save
  </button>
</form>

{% endblock %}

<!-- 
>>> from main.models import ToDoList
>>> ls = ToDoList.objects.get(id=2)
>>> ls
<ToDoList: First List>
>>> ls.item_set.all()
<QuerySet []>
>>> ls.item_set.create(text="First Item", complete=False)
<Item: First Item>
>>> ls.item_set.create(text="Second Item", complete=False)
<Item: Second Item>
>>> ls.item_set.create(text="Third Item", complete=False)
<Item: Third Item>
>>> ls.item_set.all()
<QuerySet [<Item: First Item>, <Item: Second Item>, <Item: Third Item>]>
>>> exit() 
-->
